:root {
    --green-light: #a3dfc8;
    --green: #66caa3;
    --green-dark: rgb(0, 105, 64);
}

body {
    background-color: rgba(0, 105, 64, .6)!important; 
    height: 100rem;
    color: var(--green-dark) !important;
}

.logo-1 {
    height: 4rem;
}

.logo-2 {
    max-height: 3.2rem;
}
.lang-icon {
    height: 2rem;

}