:root {
    --green-light: #a3dfc8;
    --green: #66caa3;
    --green-dark: rgb(0, 105, 64);

    --orange-light: #ffc888;
    --orange: #ffa944;
    --orange-dark: #ff8a00;
}

::selection {
    color: var(--orange)!important;
}

body {
    background-color: rgba(0, 105, 64, .6)!important; 
    height: 5rem;
    color: var(--orange) !important;
}

.logo-1 {
    height: 4rem;
}

.logo-2 {
    max-height: 3.2rem;
}
.lang-icon {
    height: 2rem;
}

.lang-icon--active {
    /* outline: .1rem solid var(--orange); */
    border: 0.05rem solid black ;
    border-radius: 50%;
    box-shadow: 0 0 .2rem .25rem var(--orange)
}

footer p {
    font-size: .8rem;
}